/* Custom navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(82, 147, 221);
  height: auto;
}

hr {
  color: rgb(82, 147, 221);
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2vh;
}

a {
  color: white;
  text-decoration: none;
  transition: 150ms
}

a:hover {
  color: white;
  opacity: 0.5;
  transition: 150ms
}

.active {
  text-decoration: underline;
}

/* About us */
.aboutus {
  width: 60%;
}

/* FOSSHOST a class */

.fosshost {
  color: black;
  text-decoration: underline;
}

.fosshost:hover {
  color: black;
  opacity: 0.7;
  transition: 150ms;
}

/* Hide name */

@media only screen and (max-width: 1026px) {
  .hide {
    display: none;
  }

  li {
    font-size: 1.5vh;
  }

}