<!-- Mobile Navbar -->
<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        <a href="#" class="active">Home</a>
        <a href="#projects">Projects</a>
        <a href="/blog/">Blogs</a>
        <a href="https://github.com/cobweb-aclevo">GitHub</a>
        <a href="/contact/">Contact us</a>
    </div>
</div>

<!-- Desktop Navbar -->
<ul class="nav-ul">
    <li class="nav-li"><img src="/assets/logo.png" width="60px" /></li>
    <li class="nav-li"><a href="/about" class="nav-link">About Us</a></li>
    <li class="nav-li"><a href="/#projects" class="nav-link">Projects</a></li>
    <li class="nav-li"><a href="/updates" class="nav-link">Updates</a></li>
    <li class="nav-li"><a href="/blog" class="nav-link">Blog</a></li>
    <!-- Mobile menu button -->
    <li class="nav-mob-display" style="float:right; cursor: pointer;" onclick="openNav()">&#9776; Menu</li>
</ul>